<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site Django</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {%for page,url in breadcrumb%}
            <li class="breadcrumb-item"><a href="{{url}}">{{page}}</a></li>
            {%endfor%}
        </ol>
    </nav>
    <!-- <h1>Bonjour {{ nom }} !</h1> -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>